<%= form_for(@user_position_metric_point) do |f| %>
  <% if @user_position_metric_point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_position_metric_point.errors.count, "error") %> prohibited this user_position_metric_point from being saved:</h2>

      <ul>
      <% @user_position_metric_point.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :user_position_metric_id %><br />
    <%= f.number_field :user_position_metric_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
