<h1>Listing articles</h1>
<div class="row">
  <% last_span = 0;count=0;counts=[0,2,5,9];spans=[12,6,6,4,4,4,3,3,3,3,3,3,3,3];spans.each do |span| %>
    <% article = @articles[count]%>
    <% if article %>
      <span class="span<%= span %>">
        <h2><a href="<%= article.url %>"><%= article.title %></a></h2>
        (<%= article.created_at %>, SCORE: <%= article.score(params) %>)<br />
        <p><%= article.abstract %></p>
      </span>
      <% if counts.include?(count)%>
        </div>
        <hr />
        <div class="row">
      <% end %>
      <%count+=1%>
    <% end %>
  <% end %>
</div>
<%= render :partial => 'slider'%>